.welcome_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(210, 190, 173, 1);
  background-image: linear-gradient(
    -90deg,
    rgba(210, 190, 173, 1) 50%,
    rgba(255, 255, 255, 1) 41%
  );
  position: relative;
}
.welcome_header__container {
  margin-top: 20px;
  font-size: 1.8rem;
  color: var(--black);
  font-family: 'Chamberi Display', sans-serif;
}
.welcome_text {
  font-size: 1.3rem;
  text-align: center;
  font-style: italic;
  opacity: 0.9;
}
.welcome_header {
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
  word-break: break-word;
  font-weight: 600;
}
.welcome_image__container {
  width: 400px;
}
.welcome_image {
  /* border-radius: 50%; */
  width: 100%;
  object-fit: cover;
}

@media (min-width: 900px) {
  .welcome_section {
    gap: 45px;
  }
  .welcome_text {
    font-size: inherit;
    text-align: center;
    font-style: italic;
    opacity: 0.8;
  }
  .welcome_header {
    margin-top: 60px;
    padding: 2%;

    font-size: 5.8rem;
    font-family: 'Chamberi Display', sans-serif;
  }
  .welcome_image__container {
    width: 600px;
  }
}
@media (max-width: 727px) {
}
